
 /* background-image: url('portfolio.png');
  background-repeat: no-repeat;
  background-size: cover;*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background-color: black;
}
::selection {
  background-color: black; 
}

body {
  background-color: #fff; 
  font-family: 'Neue Haas Unica', sans-serif;
  font-size: 12px;
  letter-spacing:.015em;
  line-height: 15px;
  padding: 10px;
  font-weight: 400;
  
  
  
  

}


ul {
  list-style: none;

}

li  { 
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover:not(.name),
a:focus:not(.name),
button:hover,
button:focus,
.more:hover,
.more:focus {
  font-style: italic;
  /* letter-spacing: 1px; */
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}

.container > header {
  position: fixed;
  top: 10px;
  left: 10px;
  grid-column: 1 / 2;

}

.container > main {
  grid-column: 2 / 8;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 10px;
}

main > section,
main > p,
.swiper-container {
  grid-column: 1 / 3;
}


main > section, 
main > p {
  padding: 0 32px;
}

.intro {
  font-size: 14px;
  line-height: 20px;

}


main > section.half-left {
  grid-column: 1 / 2;
}

main > section.half-right {
  grid-column: 2 / 3;
}

main > section.half-left {
  padding-right: 0;
}

main > section.half-right {
  padding-left: 0;
}

main > section {
  position: relative;
}

.number {
  position: absolute;
  top: 55px;
  left: 0;
  font-size: 10px;
}

img, video {
  margin-top: 60px;
  width: 100%;
  height: auto;
}

h2 {
  margin-top: 10px;
}

h2.neg {
  margin-top: -10px;
  font-size: 12px;
  line-height: 16px;
}

h2, .swiper-pagination {
  font-size: 12px;
  line-height: 15px;
  
  
}

.italic {
  font-style: italic;
}

.more {
  font-size: 12px;
  padding-top: 5px;
}

.more-text {
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}


/* INFO */

.container > .contact-link{
  position: fixed;
  top: 10px;
  right: 10px;
  grid-column: 8 / 9;
  /* background-color: gray; */
}

.social {
  text-decoration-line: underline;
  color: black;
  margin-bottom: 20px;
  padding: 5px 0 5px 0;
  display: inline-block;
  
}

.curriculum  {
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact-link-info {
  text-decoration: underline;
}



/* MODAL BOX */

.close {
  color: #000;
  float: right;
  font-size: 12px;
  
}

.close:focus, .close:hover {
  font-style: italic;
}


.more,
.close:hover,
.close:focus,
button {
  cursor: pointer;
}

.more {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Reset bottone per mostrarlo come fosse un link */
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  overflow: visible; /* Fix IE e EDGE */
  text-transform: none;
  -webkit-appearance: button; /* Fix IOS e SAFARI */
  /* Aspetto grafico */
  border: 0;
  font-weight: bold;
  background: none;
}

button:hover,
button:focus {
  color: #000;
  text-decoration: none;
}

.info {
  display: none; /* Nascosto di default, mostro al clic su info */
  position: fixed;
  z-index: 80;
  right: 0; /* Fix per nascondere scrollbar secondaria in alcuni browser */
  top: 0;
  width: 100%;  /* Fix per nascondere scrollbar secondaria in alcuni browser */
  height: 100%; /* occupautta la pagina in altezza */
  overflow: auto; /* Abilita scroll se il contenuto supera l'altezza della finestra */
  font-size: 18px;
  line-height: 20px;
  background-color: rgb(250, 250, 250);
  padding: 10px;
  /*
  background-image: url('info.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -10px 10px;
  */  
}

.info p {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 63%;
}

.more-text p {
  margin-bottom: 10px;
}

.contact-link-info {
  display: block;
  padding-bottom: 30px;
}

.curriculum{
  margin-top:10px;
}

.text-info-1 {
  margin-top: 20px;
  font-size: 12px;
  line-height: 14px;
}


/*.intro p::first-letter {
  padding-left: 20px;
}*/

/* Nascondo testo con scaleY (asse Y) per azzerare l'altezza, non uso height perché tra 0 e auto non tiene conto dell'effetto di transizione, con scale si */
    .more-text {
      display: none;
      /*
      transform: scaleY(0);    
      transform-origin: top;
      transition: transform 300ms ease;
      */
    }
    .show-text {
      display: block;
      /*
      transform: scaleY(1);
      */
    }
    .italic {
      font-style: italic;
    }

    /* swiper */

    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide img {
      width: 100%;
      height: auto;
    }
    
    /* Nascondo frecce e aumento area di clic al 50% di larghezza e 100% di altezza per andare avanti e indietro al clic sull'immagine */
    .swiper-button-next,
    .swiper-button-prev {
        width: 50%;
        height: 100%;
        top: 0;
    }
    
    .swiper-button-next {
        right: 0;
    }
    
    .swiper-button-prev {
        left: 0;
    }
    
    .swiper-button-next:after,
    .swiper-button-prev:after {
        content: "";
    }
    
    /* Spostato numero pagina fuori dal box con le immagini, rimuovo il posizionamento assoluto, reimposto valore di default */
    .swiper-pagination {
        margin-top: 10px;
        position: static;
        text-align: right;
    }
    
    #myBtn {
      margin-right: 20px;
    }

